<div style="text-align: center ;" class="container holder">
  <img
    src="/images/craneo_black.png"
    alt="Gimnasio Craneo"
    style="height: 400px ; widht: 400px;"
  />
  <h2 style="margin-top: 5rem;">Proximamente</h2>
</div>