<body>
  <div class="container holder">
    <div class="inputPanel">
      <a class="inputBtn" href="#">
        <p>Ejercicios</p>
      </a>

      <a class="inputBtn" href="#">
        <p>Plantillas</p>
      </a>

      <a class="inputBtn" href="#">
        <p>Asignaciones</p>
      </a>

    </div>
  </div>
</body>